

.item {
    border: 2px solid #3b2a2a; 
    border-radius: 10px; 
    padding: 20px;
    transition: transform 0.3s; 
    background-color: white; 
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.item:hover {
    transform: scale(1.05); 
}

.img-item {
    border-radius: 10px; 
    margin-bottom: 10px; 
}

