/* itemlistcontainer.css */

.itemlistcontainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px; /* Reduce el padding */
    justify-content: center; /* Centra los elementos */
}

.itemcontainer {
    display: flex;
    justify-content: center; /* Centra los elementos dentro del contenedor */
    flex-direction: column;
    flex-wrap: wrap;
    padding: 20px; /* Reduce el padding */
}

.itemlistcontainer .item {
    width: 300px;
    border: 2px solid rgb(5, 5, 5); /* Reduce el grosor del borde */
    border-radius: 10px; /* Agrega bordes redondeados */
    padding: 20px; /* Reduce el padding */
    transition: transform 0.3s; /* Agrega una transición suave */
}

.itemlistcontainer .item:hover {
    transform: scale(1.05); /* Efecto de zoom al pasar el mouse */
}


/* itemlistcontainer.css */

.row {
    margin: 0; /* Elimina márgenes de la fila */
}

.mb-4 {
    margin-bottom: 1.5rem; /* Espaciado inferior entre los elementos */
}
