

.itemlistcontainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px; 
    justify-content: center; 
}

.itemcontainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 20px;
}

.itemlistcontainer .item {
    width: 300px;
    border: 2px solid rgb(5, 5, 5); 
    border-radius: 10px; 
    padding: 20px; 
    transition: transform 0.3s; 
}

.itemlistcontainer .item:hover {
    transform: scale(1.05); 
}




.row {
    margin: 0; 
}

.mb-4 {
    margin-bottom: 1.5rem; 
}
