/* CartWidget.css */

.cartwidget {
    display: flex;
    align-items: center; /* Alinea verticalmente el icono y el número */
    color: #000000; /* Color negro para el texto */
    text-decoration: none; /* Elimina el subrayado del enlace */
}

.icon-cartwidget {
    font-size: 25px; /* Tamaño del icono del carrito */
    margin-right: 5px; /* Espacio entre el icono y el número */
}

.number-cartwidget {
    font-size: 20px; /* Tamaño del número */
    background-color: #ffffff; /* Fondo blanco para el número */
    color: #000000; /* Color negro para el número */
    border-radius: 50%; /* Bordes redondeados */
    padding: 2px 8px; /* Espaciado interno */
    position: relative; /* Para posicionar si es necesario */
    top: -5px; /* Ajusta la posición vertical si es necesario */
    display: inline-flex; /* Asegura que el número se alinee correctamente */
    justify-content: center; /* Centra el texto dentro del fondo */
    align-items: center; /* Centra verticalmente el texto */
}
