

.navbar {
    background-color: #007bff; 
    padding: 10px 20px;
}

.navbar-brand img {
    border-radius: 50%; 
}

.navbar-nav {
    flex-direction: row; 
    justify-content: center; 
    width: 100%; 
}

.navbar-nav .nav-link {
    color: #ffffff; 
    margin: 0 20px; 
    transition: color 0.3s;
}

.navbar-nav .nav-link:hover {
    color: #ffcc00; 
}

.navbar-toggler {
    border: none; 
}

.navbar-toggler-icon {
    background-color: #ffffff;
}

.nav-item {
    position: relative;
}

.cart-button {
    background-color: transparent; 
    border: none; 
    color: #ffffff; 
    margin-left: 20px; 
}

.cart-button:hover {
    color: #ffcc00; 
}

.cartwidget .icon-cartwidget {
    font-size: 25px;
    color: #ffffff; 
}

.cartwidget .empty-cartwidget {
    font-size: 25px;
    color: gray;
}

@media (max-width: 768px) {
    .navbar-nav {
        text-align: center; 
        flex-direction: column;
    }
}
